<h1>Maiku</h1>
<h2>Make a Haiku poem.</h2>

<form class="poem-form" action="/create" method="POST">
  <label for="line_one">First Line:<input id="lineOne" type="text" name="line_one" autocomplete="off"></input>
  <div id="lineOneCount" class="count-div"><p>Syllables Remaining: 5</p></div></label>

  <label for="line_two">Second Line:<input id="lineTwo" type="text" name="line_two" autocomplete="off"></input>
  <div id="lineTwoCount" class="count-div"><p>Syllables Remaining: 7</p></div></label>

  <label for="line_three">Third Line:<input id="lineThree" type="text" name="line_three" autocomplete="off"></input>
  <div id="lineThreeCount" class="count-div"><p>Syllables Remaining: 5</p></div></label>
  <p class="sharetext">Share Your Poem:</p>
  <button>Set It Free</button>
  <p class="or">- or -</p>
  <button>Share On Twitter</button>
</form>

<div class="selection">
  <h3><%= @haiku.line_one %><h3>
  <h3><%= @haiku.line_two %><h3>
  <h3><%= @haiku.line_three %><h3>
  <% if @link %>
    <h4>- <a href="<%= @link %>"><%= @author %></a></h4>
  <% else %>
    <h4>- <%= @author %></h4>
  <% end %>
</div>


<footer>
  <p>photo by <a href="http://www.flickr.com/photos/11250735@N07/">zaimoku_woodpile</a><p>
</footer>
